nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: medium double var(--theme-invert);
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
}

nav a:focus-visible {
    outline: 2px solid #005fcc;
    outline-offset: 2px;
}
