hr.seperator {
    overflow: visible;
    padding: 0;
    border: none;
    border-top: medium double var(--theme-invert);
    color: var(--theme-invert);
    text-align: center;
    height: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}
hr.seperator:after {
    color: var(--theme-invert);
    content: "fm";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: var(--theme-bkg);
}
