.outtaten {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.8rem;
    background: var(--theme-invert);
    color: var(--theme-bkg);
    padding: 5px 10px;
    border-radius: 4px;
    line-height: 1;
    margin-left: 20px;
}

.outtaten span {
    font-size: 0.9rem;
    opacity: 0.7;
}

.movie-review {
    background-color: rgba(0, 0, 0, 0.02);
}

@media (max-width: 500px) {
    .movie-review {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
