@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

:root {
    --theme-bkg: #161616;
    --theme-invert: #f1f1f1;
}

@keyframes rainbow-cycle {
    0% {
        --theme-invert: #ff0000;
        color: #ff0000;
        border-color: #ff0000;
    }
    14% {
        --theme-invert: #ff7f00;
        color: #ff7f00;
        border-color: #ff7f00;
    }
    28% {
        --theme-invert: #ffff00;
        color: #ffff00;
        border-color: #ffff00;
    }
    42% {
        --theme-invert: #00ff00;
        color: #00ff00;
        border-color: #00ff00;
    }
    56% {
        --theme-invert: #0000ff;
        color: #0000ff;
        border-color: #0000ff;
    }
    70% {
        --theme-invert: #4b0082;
        color: #4b0082;
        border-color: #4b0082;
    }
    84% {
        --theme-invert: #9400d3;
        color: #9400d3;
        border-color: #9400d3;
    }
    100% {
        --theme-invert: #ff0000;
        color: #ff0000;
        border-color: #ff0000;
    }
}

.rainbow-mode {
    animation: rainbow-cycle 5s linear infinite;
}

.rainbow-mode img.magic-tint {
    animation: rainbow-hue 5s linear infinite;
}

@keyframes rainbow-hue {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

body {
    background-color: var(--theme-bkg);
}

html {
    color: var(--theme-invert);
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

nav,
main {
    max-width: 935px;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 20px;
    padding-top: 0px;
}

img {
    max-width: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--theme-invert);
}

hr {
    border-color: var(--theme-invert);
}

blockquote {
    background-color: #111111;
    padding: 10px;
}

p {
    line-height: 1.5;
}
